*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
#container{
    width: 100%;
}
#part1{
    width: 50%;
    margin-left: 30px;
}
#nav img{
    margin-left: 50px;
}
#nav li{
    display: inline;
}
#nav li a{
    text-decoration: none;
}
#login{
    margin-left: 307px;
    color: black;
    font-size: 12px;
    font-weight: 600;
}
#Signup{
    border: 2px solid black;
    color: white;
    background-color: black;
    padding: 6px 15px;
    margin-left: 10px;
    font-size: 10px;
    font-weight: 600;
}
#button{
    position: absolute;
    margin-top: -90px;
}
#heading{
    margin-left: 50px;
    margin-top: -10px;
}
#heading h1{
    font-size:25px;
        padding-bottom: 5px;
}
#heading p{
    color:  rgb(148, 148, 148);
    margin-top: 2px;
}
#input input{
    margin-left: 50px;
    margin-top: 30px;
    width: 300px;
    border: 1px rgb(197, 193, 193) solid;
    height: 38px;
}
#location{
position: absolute;
font-weight: 600;
font-size: 10px;
margin-left: 280px;
margin-top: -25px;
color: rgb(128, 128, 128);
word-spacing: 2px;
letter-spacing: 4px;
}
#location span{
text-transform: capitalize;
font-size: 8px;
letter-spacing: normal;
}
#find{
    border: rgb(255, 136, 0) solid 1px;
    background-color: rgb(255, 136, 0);
    width: fit-content;
    height: 38px;
    position: absolute;
    margin-left: 350px;
    margin-top: -38px;
}
#find p{
    color: white;
    margin-top: 13px;
    font-size: 10px;
    font-weight: 600;
    padding: 1px 10px;
}
#quot{
    margin-left: 50px;
    margin-top: 30px;
    font-size: 10px; 
    letter-spacing: -.2px;
    color:#a9abb2;
}
#quot span{
    color: #5f6063;
}
#quot h4{
    word-spacing: 5px;
}
#part2{
    max-width:50%;
}
#img{
    position: absolute;
    margin-left: 500px;
    margin-top: -400px;
}
#container2{
    margin-top: 90px;
    max-width: 100%;
    min-height: 100px;
    padding: 50px;
}
#container2{
    background-color:#271805;
    margin-top: 80px;
}
#logo1{
    width: 23%;
    display: inline-block;
    text-align: center;
    color: white;
    padding-left: 20px;
}
#swiglogo1{
    position: absolute;
    top: 450px;
    left: 120px;
}
#swiglogo2{
    position: absolute;
    top: 450px;
    left: 455px;
}
#swiglogo3{
    position: relative;
    top:-5px;
}
.content{
    margin-top: 30px;
}
.para{
    font-size: 11px;
    margin-top: 10px;
    line-height: 17px;
    color: #e0cbc1;
}
.content{
    font-size: 10px;
    padding-bottom: 10px;
}
#logo1{
    margin-left: -10px;
}
#logo2{
    width: 22%;
    display: inline-block;
    text-align: center;
    color: white;
    margin-left: 140px;
    
}
#logo3{
    width: 22%;
    display: inline-block;
    text-align: center;
    color: white;
    margin-left: 140px;
}
#container3{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
}
#text-area{
    width: 40%;
    min-height: 100px;
}
#text-part{
    padding: 50px;
    padding-top: 140px;
    padding-left: 70px;
    font-size: 14px;
}
#text-part h1{
    color: #282c3f;
}
#text-part p{
    padding-top: 10px;
    color: #7e808c;
}
#image-part{
    padding-left: 70px;
}
#phone1{
    width: 20%;
    min-height: 100px;
    position: absolute;
    left: 420px;
}
#phone2{
    width: 20%;
    min-height: 100px;
    position: absolute;
    left: 680px;
    top: 814px;
}
#container4{
    width: 100%;
    min-height: 100px;
    margin-top: 71px;
    background-color: #050505;
    display: flex;
    justify-content: space-around;
}
#list1{
    color: whitesmoke;
    list-style: none;
    width: 20%;
    font-size: 11px;
    line-height: 25px;
    padding-left: 50px;
    padding-top: 50px;
    letter-spacing: .7px;
    font-weight: 300;
}
#list2{
    color: whitesmoke;
    list-style: none;
    width: 20%;
    font-size: 11px;
    line-height: 25px;
    padding-left: 50px;
    padding-top: 50px;
    letter-spacing: .7px;
    font-weight: 300;
}
#list3{
    color: whitesmoke;
    list-style: none;
    width: 30%;
    font-size: 11px;
    line-height: 25px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    letter-spacing: .7px;
    font-weight: 300;
}
#list-img{
    color: whitesmoke;
    list-style: none;
    width: 20%;
    padding-left: 20px;
    padding-top: 50px;
}
#list-img img{
    border: 2px rgb(128, 127, 127) solid;
    border-radius: 10px;
    padding: 2px;
}
#img-space{
    margin-bottom: 20px;
}
#list3 li:nth-child(8),#list3 li:nth-child(9){
    line-height: normal;
}
#list3 li:nth-child(8){
    padding-bottom: 8px;
    padding-top: 10px;
}
.head{
    color: rgb(142, 141, 141);
    font-weight: 600;
     margin-bottom: 15px;
     font-size: 10px;
}
#line{
    border-bottom: 1px gray solid;
    width: 89%;
    margin: auto;
    position: absolute;
    left: 62px;
    top: 1497px;
}
#container5{
    width: 100%;
    min-height: 100px;
    background-color: #050505;
}
#delivery{
    font-size: 10px;
    padding-left: 65px;
    padding-top: 20px;
    line-height: 25px;
}
#child1{
    display: flex;
    justify-content: space-around;
}
#delivery{
    width: 100%;
    color: rgb(142, 141, 141);
    font-weight: 600;
    font-size: 9px;
}
.li-list{
    color: whitesmoke;
    list-style: none;
    width: 20%;
    font-size: 11px;
    line-height: 25px;
    padding-left: 50px;
    letter-spacing: .7px;
    font-weight: 300;
}
#child1 div:nth-child(1){
    margin-left: -10px;
}
#line1{
    border-bottom: 1px gray solid;
    width: 88%;
    margin: auto;
    position: absolute;
    left: 62px;
    top: 5365px;
}
#container6{
    width: 100%;
    min-height: 100px;
    background-color: #050505;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
#final1{
    width: 30%;
    padding-left: 50px;
}
#copyrights{
    width: 30%;
    color: whitesmoke;
    font-size: 15px;
    padding-left: 100px;
    padding-top: 7px;
}
#copyrights span{
    font-size: 17px;
    font-weight: 100;
}
#boderlogo{
    width: 30%;
    color: whitesmoke;
    padding-left: 120px;
    font-size: 20px;
}
#boderlogo i:nth-child(2),#boderlogo i:nth-child(3),#boderlogo i:nth-child(4){
    padding-left: 20px;
}

